/* centered chat */
.chat {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 20px;
}

/* form should be at the bottom */
.chat-form {
  position: absolute;
  bottom: 0;
  width: 95%;
  height: 50px;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  input {
    width: 90%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  font-size: 16px;
  }
  button {
    width: 5%;
  padding: 10px;
  border: none;
  border-radius: 5%;
  background: #3022AB 0% 0% no-repeat padding-box;
  opacity: 1;
  color: white;
  font-size: 16px;
  cursor: pointer;
  }
}

