/* centered chat */
.chat {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 20px;
}

/* form should be at the bottom */
.chat-form {
  position: absolute;
  bottom: 0;
  width: 95%;
  height: 50px;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
}

.chat-form > input {
  width: 90%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  font-size: 16px;
}

.chat-form > button {
  width: 5%;
  padding: 10px;
  border: none;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
